extends layout

block content
  h1= title
  p Welcome to #[em LocalGlocery], a very basic Express website.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The Glocery has the following record counts:

    ul
      li #[strong Products:] !{data.product_count}
      li #[strong Number:] !{data.product_instance_count}
      li #[strong Number in Shop:] !{data.product_instance_location_count} 
      li #[strong Vendors:] !{data.vendor_count}
      li #[strong Product Types:] !{data.type_count}